CONFIG_ARCH_X86_64=y
CONFIG_PLAT_HYPERV=y
CONFIG_HAVE_SMP=y
CONFIG_UKPLAT_CPU_MAXCOUNT=2
CONFIG_UKPLAT_MEMREGION_MAX_COUNT=512
CONFIG_LIBUKPRINT_KLVL_INFO=y
CONFIG_LIBUKDEBUG_PRINTD=n
CONFIG_APPHYPERVSMPWORKLOAD=y
CONFIG_HYPERV_FIXED_SMP_WORKLOAD=y
