CONFIG_ARCH_X86_64=y
CONFIG_PLAT_HYPERV=y
CONFIG_UKPLAT_CPU_MAXCOUNT=1
CONFIG_UKPLAT_MEMREGION_MAX_COUNT=512
CONFIG_LIBUKPRINT_KLVL_INFO=y
CONFIG_LIBUKDEBUG_PRINTD=n
CONFIG_APPHYPERVACCEPTANCE=y
CONFIG_APPHYPERVACCEPTANCE_NETWORK_APPLICATION=y
CONFIG_APPHYPERVACCEPTANCE_PEER_IPV4="10.87.0.4"
CONFIG_APPHYPERVACCEPTANCE_PEER_TCP_PORT=18887
CONFIG_APPHYPERVACCEPTANCE_PEER_UDP_PORT=18888
CONFIG_APPHYPERVACCEPTANCE_NONCE="87c0ffee5aa8dfd6"
CONFIG_LIBVMBUS=y
CONFIG_LIBUKBLKDEV=y
CONFIG_LIBSTORVSC=y
CONFIG_LIBSTORVSC_MAX_DEVICES=2
CONFIG_LIBSTORVSC_REQUEST_TIMEOUT_MS=5000
CONFIG_LIBUKSGLIST=y
CONFIG_LIBUKNETDEV=y
CONFIG_LIBUKNETDEV_MAXNBQUEUES=1
CONFIG_LIBNETVSC=y
CONFIG_LIBLWIP=y
CONFIG_LWIP_RELEASE212=y
CONFIG_LWIP_UKNETDEV=y
CONFIG_LWIP_AUTOIFACE=n
CONFIG_LWIP_NOTHREADS=y
CONFIG_LWIP_HEAP=y
CONFIG_LWIP_IPV4=y
CONFIG_LWIP_IPV6=n
CONFIG_LWIP_UDP=y
CONFIG_LWIP_TCP=y
CONFIG_LWIP_TCP_MSS=1460
CONFIG_LWIP_WND_SCALE=n
CONFIG_LWIP_NUM_TCPCON=4
CONFIG_LWIP_NUM_TCPLISTENERS=1
CONFIG_LWIP_ICMP=y
CONFIG_LWIP_DHCP=y
CONFIG_LWIP_DNS=n
CONFIG_LWIP_SOCKET=n
CONFIG_LIBUKRANDOM_LCPU=y
