CONFIG_ARCH_X86_64=y
CONFIG_PLAT_HYPERV=y
CONFIG_UKPLAT_CPU_MAXCOUNT=1
CONFIG_UKPLAT_MEMREGION_MAX_COUNT=512
CONFIG_LIBUKPRINT_KLVL_INFO=y
CONFIG_LIBUKDEBUG_PRINTD=n
CONFIG_APPHYPERVACCEPTANCE=y
CONFIG_LIBVMBUS=y
CONFIG_LIBUKBLKDEV=y
CONFIG_LIBSTORVSC=y
CONFIG_LIBSTORVSC_REQUEST_TIMEOUT_MS=5000
CONFIG_LIBUKSGLIST=y
CONFIG_LIBUKNETDEV=y
CONFIG_LIBNETVSC=y
